/* Tiny Carousel */
#slider1 { height: 1%; overflow:hidden; padding: 0 0 10px;   }
#slider1 .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
#slider1 .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0 0; margin: 30px 0 0 10px;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}


#slider7 {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider7 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider7 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider7 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider7 .disable {
    visibility: hidden;
}
#slider7 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider7 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}


/*#slider1 {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider1 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider1 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider1 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider1 .disable {
    visibility: hidden;
}
#slider1 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider1 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}
#slider2 {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
}
#slider2 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 780px;
}
#slider2 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider2 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider2 .disable {
    visibility: hidden;
}
#slider2 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider2 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}
#slider3 {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider3 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider3 .pager {
    clear: both;
    list-style: none outside none;
    margin: 0 0 0 45px;
    overflow: hidden;
}
#slider3 .pager li {
    float: left;
}
#slider3 .pager a {
    background-color: #FFFFFF;
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#slider3 .pager .active {
    background-color: #555555;
    color: #FFFFFF;
}
#slider3 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider3 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider3 .disable {
    visibility: hidden;
}
#slider3 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider3 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}
#slider4 {
    display: block;
    height: 1%;
    margin: 0 0 0 50px;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider4 .viewport {
    height: 257px;
    overflow: hidden;
    position: relative;
    width: 500px;
}
#slider4 .pager {
    clear: both;
    height: 1%;
    list-style: none outside none;
    margin: 0 0 10px;
    overflow: hidden;
}
#slider4 .pager li {
    float: left;
}
#slider4 .pagenum {
    background-color: #FFFFFF;
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#slider4 .active {
    background-color: #555555;
    color: #FFFFFF;
}
#slider4 .overview {
    list-style: none outside none;
    position: absolute;
    width: 500px;
}
#slider4 .overview .page {
    border: 1px solid #DCDCDC;
    float: left;
    height: 245px;
    padding: 5px;
    width: 488px;
}
#slider5 {
    height: 1%;
    margin: 0 0 0 50px;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider5 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider5 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -74px rgba(0, 0, 0, 0);
    display: block;
    height: 37px;
    margin: 0 0 5px 100px;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider5 .next {
    background-position: 0 -112px;
    margin: 5px 0 0 100px;
}
#slider5 .disable {
    visibility: hidden;
}
#slider5 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider5 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}
#slider6 {
    height: 1%;
    margin: 0 0 0 50px;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider6 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider6 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider6 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider6 .disable {
    visibility: hidden;
}
#slider6 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider6 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}
#slider7 {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
}
#slider7 .viewport {
    float: left;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
#slider7 .buttons {
    background: url("/content/images/buttons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 37px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 39px;
}
#slider7 .next {
    background-position: 0 0;
    margin: 30px 0 0 10px;
}
#slider7 .disable {
    visibility: hidden;
}
#slider7 .overview {
    list-style: none outside none;
    position: absolute;
    width: 240px;
}
#slider7 .overview li {
    border: 1px solid #DCDCDC;
    float: left;
    height: 121px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 236px;
}*/
