@{
    ViewBag.Title = "activation email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form id="frmHotelSearch">
    <section id="main">
       
        <div class="body-text">

            <div class="container-fluid">

                <div class="row-fluid">

                   <div class=" qbox form-horizontal contact-info">
                        <div class="alert alert-success">
                              <p style="font-size: 12px">
                     <strong>success! </strong> <br />
                     Thank you for confirming your email address, you can <a class=" btn-link"href="/Account/Login"> Login here </a> </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--end section-->
</form>