<#@ template language="C#" #>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact US</title>
</head>
<body>
	
	<p><b>Name : </b><# Write(UserName); #></p>
	<p><b>Email : </b><# Write(Email); #></p>
	<p><b>How did you hear about us: </b> <# Write(Source); #> </p>
	<p><b>Message : </b>
	
	<# Write(Body); #>
	</p>

</body>
</html>