<#@ template language="C#" #>

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Password Reset</title>
</head>
<body>
	<p>Click <a href="<# Write(ResetLink); #>">here</a> to reset your password,</p>
	
	<p><# WriteLine(ResetLink); #></p>
	
	<p>Thanks<br/>
	Coffeelovesmilk.com</p>
</body>
</html>
