@{
    ViewBag.Title = "about us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="rrr">
    <section id="main">
       
        <div class="body-text">

            <div class="container-fluid">

                <div class="row-fluid">

                    <div class=" qbox  contact-info">
                        <div class="alert alert-success">
                            <p style="font-size: 12px">
                                <strong>Coming soon! </strong>
                            </p>

                            <a class="btn-link" href="/Home/Index">Home</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--end section-->
</form>