@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>home stay srilanka - user login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
       
       
    </head>
    
    
    <form id="frmHotelSearch">
        <section id="main">
       
            <div class="body-text">

                <div class="container-fluid">

                    <div class="row-fluid">

                        <div class=" qbox form-horizontal contact-info">
                            <span class="span6">
                <img src="/Content/img/sirlanka_map.jpg"/>
            </span>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <span class="span6 well">
                <form action="" method="post">
                <input type="text" name="user[username]" placeholder="Username or email" size="50" />
                <input type="password" name="user[password]" placeholder="Password" size="30" /><br/>
                 <input id="remember_me" type="checkbox" name="user[remember_me]" value="1" />
                    
                <span> Remember me</span>&nbsp;
												
                     <a class="btn btn-primary" href="/Home/Index">Sign In</a>
                     
            </form>
            </span>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!--end section-->
    </form>

    
</html>
